body {
	text-align:center;
	padding:0;
	margin:1px 0 0;
	font:normal 12px Arial, Helvetica, Sans-serif;
}

a {
	color:#777;
}

a:visited {
	color: #800080;
}

a:hover {
	color:#A77749;
}

#container {
	text-align:left;
	width:700px;	
	margin:auto;
	position:relative;
	padding:0;
}

#pageHeader {
	width:700px;
	height:80px;
	background:#666 url(../images/header.gif) no-repeat;
	margin:0;
	padding:0;
}

#pageHeader h1,h2 {
	padding:0;
	margin:0;
	display:none;
}

#general {
	position:relative;
	border-top:#fff 1px solid;
	margin:0;
	padding:0;
	width:700px;
	background:#FFFFFF url(../images/general.gif) no-repeat top left;
}

#components {
	width:700px;
}

#general .p1, #flex .p1, #air .p1, #macosx .p1, #windows .p1 {
	margin:0;
	padding:41px 15px 0px 15px;
}

#general p, #flex p, #air p, #python p, #macosx p, #windows p {
	margin:0;
	padding:15px 15px 0px 15px;
}

#general h3, #flex h3, #air h3, #python h3, #macosx h3, #windows h3 {
	margin:0;
	padding:15px 0px 0px 15px;
}

#general .p3, #flex .p2, #air .p3, #macosx .p5 {
	margin:0;
	padding:10px 15px 7px 15px;
}

#python .p1 {
	margin:0;
	padding:41px 15px 7px 15px;
}

#flex {
	background:#FFFFFF url(../images/flex.gif) no-repeat top left;
}

#air {
	background:#FFFFFF url(../images/air.gif) no-repeat top left;
}

#python {
	background:#FFFFFF url(../images/python.gif) no-repeat top left;
}

#macosx {
	background:#FFFFFF url(../images/macosx.gif) no-repeat top left;
}

#windows {
	background:#FFFFFF url(../images/windows.gif) no-repeat top left;
}

#mytable {
	border-left: 1px solid #C1DAD7;
	width: 670px;
	padding: 0;
	margin: 10px 10px 10px 15px;
}

th {
	font: bold 11px Arial, Helvetica, sans-serif;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #f5fafa;
	color: #5B6765;
}

td.Event, td.BuildStep, td.Activity, td.Change, td.Time, td.Builder {
    border-top: 1px solid;
    border-right: 1px solid;
}

td.box {
       border: 1px solid;
}

td {
	font: bold 12px Arial, Helvetica, sans-serif;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #000000;
}

td.hi {
	font: bold 12px Arial, Helvetica, sans-serif;
	background: #F5FAFA;
	color: #000000;
}

td.alt {
	font: 12px Arial, Helvetica, sans-serif;
	background: #F5FAFA;
	color: #000000;
}

td.spec {
	border-top: 0;
	background: #fff;
	font: 12px Arial, Helvetica, sans-serif;
	color: #000000;
}

th.spec {
	border-top: 0;
	background: #fff;
	font: 12px Arial, Helvetica, sans-serif;
	color: #000000;
}

th.specalt {
	border-top: 0;
	background: #f5fafa;
	font: 12px Arial, Helvetica, sans-serif;
	color: #000000;
}

li {
	padding: 3px 0px 0px 20px;
}

/* Activity states */
.offline { 
        background-color: red;
}
.idle {
	background-color: white;
}
.waiting { 
        background-color: yellow;
}
.building { 
        background-color: yellow;
}

/* LastBuild, BuildStep states */
.success {
	background-color: #72ff75;
}
.failure {
	background-color: red;
}
.warnings {
	background-color: #ff8000;
}
.exception {
	background-color: #c000c0;
}
.start,.running {
	background-color: yellow;
}
